In [1]:
import pandas as pd

In [ ]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [35]:
results = pd.read_csv('../datalake/bronze/athlete_results.csv')

df = results.copy()

/tmp/ipykernel_13026/3141780383.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  results = pd.read_csv('../datalake/bronze/athlete_results.csv')

In [23]:
df.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN

In [36]:
# Take off the "(Olympic)" and other edition types inside Event column
df['edition_type'] = df['Event'].str.extract(r'\((.*?)\)')
df['Event'] = df['Event'].str.replace(r'\s*\(.*?\)', '', regex=True)

# Get place column
df['place'] = df['Pos'].str.extract(r'(\d+)')

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,edition_type
0,1912 Summer Olympics,"Singles, Men",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic
1,1912 Summer Olympics,"Doubles, Men",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic
2,1920 Summer Olympics,"Singles, Men",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic
3,1920 Summer Olympics,"Doubles, Mixed",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic
4,1920 Summer Olympics,"Doubles, Men",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic

In [37]:
df[['year', 'type']] = df['Games'].str.extract(r'(\d{4}) (Summer|Winter)', expand=True)
df['year'] = pd.to_numeric(df['year'])

In [38]:
df.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,edition_type,year,type
0,1912 Summer Olympics,"Singles, Men",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic,1912.0,Summer
1,1912 Summer Olympics,"Doubles, Men",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic,1912.0,Summer
2,1920 Summer Olympics,"Singles, Men",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic,1920.0,Summer
3,1920 Summer Olympics,"Doubles, Mixed",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic,1920.0,Summer
4,1920 Summer Olympics,"Doubles, Men",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,Olympic,1920.0,Summer

In [ ]:
df.columns = df.columns.str.lower().str.replace(' ', '_')